<h2>{{title}}</h2>
<div class="row">
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" 
	(click)="filterBy='all'">All</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='boats'" 
	(click)="filterBy='boats'">Boats</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='some'" 
	(click)="filterBy='some'">Some</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='other'" 
	(click)="filterBy='other'">other</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='new'" 
	(click)="filterBy='new'">New</button>

	<ul id="thumbnailsList">
		<li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
			<a [routerLink] = "['/image',image.id]">
				<img src="{{image.url}}" class="tn" width="200" height="160" >
			</a>
		</li>
	</ul>

</div>